<section>
    <div class="py-16 bg-white text-gray-800">
      <div class="mx-auto px-6 max-w-6xl">
        <div class="text-center">
          <h2 class="text-3xl font-semibold">Events Happening Soon</h2>
          <p class="mt-6 text-gray-600">Explore our upcoming events and find opportunities that intrigue you.</p>
        </div>
        <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <div *ngFor="let event of events" class="relative group overflow-hidden p-8 rounded-xl shadow-md border border-gray-200"
              [class]="getBackgroundClass(event)">
            <div aria-hidden="true" class="absolute inset-0 aspect-square rounded-full -translate-y-1/2 group-hover:translate-y-0 duration-300 transform bg-gradient-to-b from-transparent to-white opacity-10"></div>
            <div class="relative flex flex-col items-center text-center pt-4">
              <div class="p-4 w-16 h-16 bg-white rounded-full flex items-center justify-center mb-4 shadow-sm">
                <svg class="text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="CurrentColor"></path>
                </svg>
              </div>
              <p class="text-gray-800">{{ event.artist }} at {{ event.venue }} on {{ event.dateTime | date:'medium' }}</p>
              <div class="flex mt-4 space-x-2">
                <button (click)="buyTicket(event.id)" class="text-white bg-gray-800 hover:bg-blue-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Buy Tickets</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  